.itemss {
    border: 2px double black;
}
.left {
    border-right: 1px double black;
}
.itemss ul li {
    list-style: none;
}
.ul1 li:hover {
    font-weight: bold;
}
.abc {
    font-weight: bold;
}
.abc button:hover {
    text-decoration: underline;
    font-weight: bold;
}
.abc button {
    font-weight: bold;
    border: none;
}
.xyz button {
    border: none;
    font-size: 15px;
}
.xyz button:hover {
    text-decoration: underline;
}
.modal {
    text-align: center;
}

.modal Button {
    background-color: white;
    color: red;
    border: 2px solid #4caf50;
    font-size: 15px;
    width: 130px;
    margin: auto;
}
.modal select {
    border-radius: 20px;
    margin-top: 10px;
    background-color: powderblue;
}

.btnAddSub {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(231, 158, 170);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    width: 200px;
}
.btnAddSub:hover {
    background-color: rgb(236, 129, 147);
}

.btnAddSub:active {
    background-color: rgb(243, 51, 83);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btnAddSub1 {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(231, 158, 170);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}
.btnAddSub1:hover {
    background-color: rgb(194, 171, 175);
}

.btnAddSub1:active {
    background-color: rgb(134, 122, 124);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btnModalCake {
    width: 1000px;
}
.custom {
    color: transparent;
}
.custom::-webkit-file-upload-button {
    visibility: hidden;
}
.custom::before {
    content: "Select image";
    color: rgb(243, 234, 234);
    display: inline-block;
    background: -webkit-linear-gradient(top, #e9dfdf, #635f5f);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px rgb(219, 42, 42);
    font-weight: 700;
    font-size: 10pt;
}
.custom:hover::before {
    border-color: black;
}
.custom:active {
    outline: 0;
}
.custom:active::before {
    background: -webkit-linear-gradient(top, #e73232, #d12c2c);
}
.imageCake {
    margin: 10px;
}
.inputNewName {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    font-size: 20px;
    font-family: cursive;
    margin-left: 10px;
    text-align: center;
    width: 200px;
}
.inputNewName:focus {
    outline: none;
}
.ListOrderSub {
    margin-left: 20px;
}
.subCategory {
    margin-left: 20px;
}
.dropright .dropdown-menu {
    min-width: 20px;
}
.pointer {
    cursor: pointer;
}
.subCategory {
    cursor: pointer;
}
.ItemBody {
    text-align: left;
    margin-left: 30px;
}
.BodyItem {
    margin-left: 20px;
}
.DetailItem img {
    width: 100px;
    height: 100px;
}
