.newCake {
    border: 2px double black;
}
.detail {
    border: 2px double black;
}

.rowCake {
    padding: 50px;
}
.col-7 {
    border: 1px double black;
}
.abc img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: auto;
}
.abc {
    border-top: 1px double black;
    margin-top: 20px;
    padding: 0 40px;
}
.imgdetail img {
    border: none;
    border-radius: 20px;
}
.imgdetail {
    border: none;
}
.avata img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 20px;
    border-radius: 20px;
}
.btnInputImg input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(+90px, 0px);
    margin-bottom: 5px;
}
.cakeBody {
    padding: 0px 50px;
}
.textCake {
    width: 300px;
    height: 200px;
}
.btnCake {
    text-align: center;
}
.btnAddCakeSave {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(240, 106, 128);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    width: 100px;
    margin: 10px;
}
.btnAddCakeSave:hover {
    background-color: rgb(238, 44, 77);
}

.btnAddCakeSave:active {
    background-color: rgb(243, 51, 83);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btnAddCakeCancel {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(138, 117, 231);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    width: 100px;
    margin: 10px;
}
.btnAddCakeCancel:hover {
    background-color: rgba(243, 67, 97, 0.315);
}

.btnAddCakeCancel:active {
    background-color: rgb(243, 51, 83);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* UserDetail */
.otherproducts {
    padding: 40px;
}
.otherproducts img {
    width: 120px;
    height: 100px;
}
.owl-theme {
    margin-top: 20px;
}
.detailPictrueTitle {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.detailPictrueMoney {
    font-weight: bold;
    font-size: 16px;
    color: red;
    transform: translate(0px);
}
.PictrueMoney {
    font-weight: bold;
    font-size: 26px;
    color: red;
    transform: translate(0px);
}
.detail h1 {
    text-shadow: 2px 2px #af09af;
}
.inputName {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    font-size: 20px;
    font-family: cursive;
    margin-left: 10px;
}
.inputName:focus {
    outline: none;
}
.LabelNameInput {
    transform: translateY(15px);
    margin-right: 10px;
}
.inputSize {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
    font-size: 15px;
    font-family: cursive;
    margin-left: 10px;
}
.inputSize:focus {
    outline: none;
}
