.cart {
    border: 2px double black;
}
.cartRow {
    padding: 50px 50px;
}
.imgCart {
    width: 80px;
    height: 70;
    border-radius: 10px;
}
.cartAmount {
    width: 40px;
}
.summary {
    margin-top: 15px;
}
.total {
    color: red;
    font-size: 25px;
}
.btnCart {
    text-align: center;
    margin: 20px;
}
.btnCart button {
    margin: 5px;
}
table {
    width: 100%;
}
.fixed td {
    border: 0.2px solid gray;
}
.fixed {
    table-layout: fixed;
}
.fixed td {
    text-align: center;
}
th {
    text-align: center;
}
.btnCartDelete {
    transform: translateX(-17px);
}
